@import "sass/colors";
@import "sass/typography";
@import "sass/spacing";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #050607;
}

@import "sass/layout";